.oportunidades {
    text-align: center;
    background-color: #F9FAFB;
}

.oportunidades h1 {
    font-size: 36px;
    font-weight: 600;
    color: var(--cor-preto);
    padding: 70px 0 0 0;
    width: 80%;
}

.oportunidades h2 {
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-cinza);
    padding: 25px 0 30px 0; 
    width: 80%;
}

.oportunidades input {
    width: 360px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #98A2B3;
}

.oportunidades h6 {
    font-size: 16px;
    font-weight: 400;
    color: #98A2B3;
    padding: 40px 0 60px 0;
}