.header-container {
    display: flex;
    height: 400px;
    width: 90%;
    flex-direction: column;
    margin-top: 160px;
}

.header-container h6 {
    font-weight: 600;
    font-size: 16px;
    color: var(--cor-vermelho);
    padding: 20px 0;
}

.header-container span {
    font-size: 48px;
    font-weight: 600;
    color: black;
    padding: 20px 0;
    display: flex;
    align-items: center;
    text-align: center;

}

.header-container p {
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-cinza);
    padding: 20px 0;
    width: 790px;
    text-align: center;
    margin-bottom: 100px;
}

