main {
    background-color: #fff;

}

.metricas {
    background-color: #fff;
    display: flex;
    height: 290px;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 5%;
}

#a, #b, #c, #d {
    padding: 0 30px;
    width: 280px;
}

#a h2, #b h2, #c h2, #d h2 {
    font-weight: 600;
    font-size: 60px;
    color: var(--cor-vermelho);
    padding: 5px 0;
}

#a h3, #b h3, #c h3, #d h3 {
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    padding: 10px 0;
}

.metricas span {
    font-weight: 400;
    font-size: 16px;
    color: var(--cor-cinza)
}
