@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*, :root {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* VARIÁVEIS */
    --cor-vermelho: #8E2424;
    --cor-cinza: #667085;
    --cor-logo: #3A404E;
    --cor-preto: #101828;
}

body {
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: var(--cor-branco);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.logo img {
    width: 27px;
    height: 27px;
    padding: 0 10px;
}

.logo {
    color: var(--cor-logo);
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}


.links a {
    color: var(--cor-cinza);
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    padding: 0 20px;

}

.login .entrar {
    text-align: center;
    background: none;
    border: none;
    color: var(--cor-cinza);
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px;
    cursor: pointer;
}

  .login .cadastro {
    color: #FFFFFF;
    width: 112px;
    height: 44px;    
    font-size: 16px;
    font-weight: 500;
    background-color: #8E2424;
    border-radius: 8px;
    cursor: pointer;
    border: none;
  } 